$wallpapers: (
  mountains: url('https://4.bp.blogspot.com/-Wtp1PVgdup8/U8vM7j1_jGI/AAAAAAABEFw/NJyAYcbszVc/s0/View+over+the+Convict+Lake_Ultra+HD.jpg'),
  museum: url('https://upload.wikimedia.org/wikipedia/commons/6/6a/Voormalig_Gemeentehuis_Hilversum.JPG'),
  museum-inside: url('http://www.devrijervandongen.nl/var/upload/museum-hilversum-jacques-stevens-persfotograaf-nr-1.jpg')
);

$illustrations: (

);

$images: (
  tree: url()
);

$gifs: (
  tree: url()
)