@keyframes fotoflash {
  0% {
    background-image:
      radial-gradient(
        ellipse,
        map-get($landing, layover-light2),
        map-get($landing, layover-light2)
      );
  }
  1% {
    background-image:
      radial-gradient(
        ellipse,
        map-get($landing, layover-light1),
        map-get($landing, layover-light2)
      );
  }
  5% {
    background-image:
      radial-gradient(
        ellipse,
        map-get($landing, layover1),
        map-get($landing, layover2)
      );
  }
  100% {
    background-image:
      radial-gradient(
        ellipse,
        map-get($landing, layover1),
        map-get($landing, layover2)
      );
  }
}

.landing {
  position: absolute;
  background: map-get($wallpapers, museum-inside) no-repeat top center map-get($landing, bg);
  background-size: 100% auto;
  width: 100%;
  height: map-get($landing, height);

  .layover{
    position: absolute;
    height: map-get($landing, height);
    width: 100%;
    animation: fotoflash 30s ease infinite;
    background-image:
    radial-gradient(
      ellipse,
      map-get($landing, layover1),
      map-get($landing, layover2)
    );
    text-align: center;

    .spinner {
      @include spinner;
      margin: 100px auto 0;
    }

    h1 {
      font-size: map-get($landing, title-size);
      position: relative;
      width: 100%;
      height: map-get($landing, height);
      color: map-get($landing, title-fg);
      line-height: map-get($landing, height) * .2;
      text-align: center;
      text-shadow: map-get($landing, title-shadow);
    }
  }
}