$roboto-condensed: 'Roboto Condensed', sans-serif;
$arial: Arial, sans-serif;
$verdana: Verdana, sans-serif;

$fonts: (
        roboto:$roboto-condensed,
        arial: $arial,
        verdana: $verdana
);