$spinner: (
  color1: rgba(255, 235, 150, .4), // ring 1
  color2: rgba(80, 105, 255, .3), // ring 2
  color3: rgba(255, 0, 65, .3), // ring 3
  // dimensions
  width: 200px,
  height: 200px,
  border-width: 10px,
  // ellipse makings
  radius-pair1: 50%,
  radius-pair2: 58% // schould be more than round (50%)
);